.header {
    font-size: 20px;
    line-height: 1.5;
    margin: 60px auto;
}

.section {
    background-color: #ccc;
    padding: 30px 0;
}

.header span {
    display: block;
}

.container, .row, .col-lg-3, .col-lg-6 {
    border: 1px solid red;
}

.form-header, .section-header {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;

}

.form {
    border: 5px solid blue;
    padding: 20px 30px;
}

.form-btn {
    margin: 10px auto;
    background-color: blue;
}

.form input {
    margin-bottom: 12px;
}

.features {
    margin: 60px auto;
}

.features p {
    margin-top: 20px;
}

.video {
    margin-bottom: 30px;
}